body {
    background-image: url("../../assets/images/background.jpg");
    
}

@font-face {
    font-family: "Utah Jazz";
    src: url("../../assets/fonts/NBAJAZZ_.TTF");
    }

.card-text {
    
    font-family: "Utah Jazz";
}

.list-group-item {
    
    font-family: "Utah Jazz";
}


#nameGuess {
    font-family: "Utah Jazz";
    color: white;
    
}